*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	list-style: none;
}

body
{
	background-color: #000000;
	
	display: flex;
	align-items: center;
	 
}
h2{
	color: white
}

.tabela-preco
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: min(1600px, 100%);
	margin:  auto;
}

.card-preco
{
	flex:1;
	max-width: 360px;
	background-color: #fff;
	margin: 20px 10px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color: #2d2d2d;
	transition: .3s linear;
	border-radius: 20px 20px
}

.card-preco:hover .card-preco-header
{
	box-shadow: 0 0 0 26em #e46a06;

}


.card-preco-header
{
	background-color: #ff8800;
	display: inline-block;
	color: #000000;
	padding: 12px 30px;
	border-radius: 0px 0px  20px 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	transition: .4s line;
}

.preco
{
	font-size: 70px;
	color: #000000;
	margin: 40px 0;
	transition: .2s linear;
}


.preco sup, .preco span
{
	font-size: 22px;
	font-weight: 700;
}

.card-preco:hover, .card-preco:hover .preco
{
	color: #fff;
}

.card-preco li
{
	font-size: 16px;
	padding: 10px 0;
	text-transform: uppercase;
}

.btn
{
	display: inline-block;
	margin-bottom: 40px;
	margin-top: 80px;
	border: 2px solid #000000;
	color: #000000;
	padding: 18px 40px;
	border-radius:  8px;
	text-transform:  uppercase;
	font-weight: 500;
	transition:  .3s linear;
}

.btn:hover
{
	background-color: #f9800f;
	color: #fff; 
}


@media screen and (max-width: 1100px)
{
	.card-preco
	{
		flex: 50%;
	}
}
